<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout::head">



</head>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/factura}" th:object="${factura}" method="post">
					<table class="table table-bordered">
						<a th:href="@{/listar/}" th:text="'*volver'"></a>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nombre Cliente</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{nombreCliente}"
									class="form-control" disabled
									th:errorClass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('nombreCliente')}"
									th:errors="*{nombreCliente}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">descripcion</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{descripcion}"
									class="form-control"
									th:errorClass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('descripcion')}"
									th:errors="*{descripcion}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">codigo producto</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{productoId}"
									class="form-control"
									th:errorClass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('productoId')}"
									th:errors="*{productoId}"></small>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Total</label>
							<div class="col-sm-6">
							<input type="text" id="total" th:field="*{totalFactura}"
							class="form-control" 
							th:errorClass="'form-control alert-danger'"/> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('totalFactura')}"
									th:errors="*{totalFactura}"></small>
							</div>
						</div>

					</table>

					<form th:action="@{/factura}" th:object="${producto}" method="post">
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="bg-dark text-white table-bordered">codigo</th>
									<th class="bg-dark text-white table-bordered">nombre</th>
									<th class="bg-dark text-white table-bordered">precio</th>
									<th class="bg-dark text-white table-bordered">cantidad</th>
									<th class="bg-dark text-white table-bordered">total</th>
									<!-- <th class="bg-light table-bordered">Borrar</th> -->
								</tr>
							</thead>
							<tbody>

								<tr th:each="producto: ${producto}">
								
								
									<td th:text="${producto.id}"></td>
									<td th:text="${producto.nombre}"></td>
									<td type="text" id="Precio" name="Precio"
										th:text="${producto.precio}"></td>

									<td><input type="text" name="Cantidad" id="Cantidad"
										value="" onkeyup="multiplicar();" /></td>
									<td type="number" id="resultado"></td>
									<!--<td><a class="btn btn-danger btn-xs"
										th:href="@{/eliminarProducto/} + ${producto.id}" th:text="'x'"
										onclick="return confirm('Estás seguro que quieres eliminar?');">
									</a></td>  -->							
						</table>						
						</tr>
						
								<script>
							   function multiplicar() {
								m1 = document.getElementById("Precio").innerHTML;
								m2 = document.getElementById("Cantidad").value;
								r = m1 * m2;

								document.getElementById("resultado").innerHTML = r;
								document.getElementById("total").value=r;
							}
							
						</script>
						</tbody>
						</table>

						<!--<td class="btn btn-dark btn-xs form-control">0</td>-->
						<td><input type="submit" value="Crear Factura"
							class="btn btn-secondary" /></td>
</body>
</div>
</div>

</html>